.bs-callout {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
}
.bs-callout h4 {
    margin-top: 0;
    margin-bottom: 5px;
}
.bs-callout p:last-child {
    margin-bottom: 0;
}
.bs-callout code {
    border-radius: 3px;
}
.bs-callout+.bs-callout {
    margin-top: -5px;
}
.bs-callout-default {
    border-left-color: #777;
}
.bs-callout-default h4 {
    color: #777;
}
.bs-callout-primary {
    border-left-color: #428bca;
}
.bs-callout-primary h4 {
    color: #428bca;
}
.bs-callout-success {
    border-left-color: #5cb85c;
}
.bs-callout-success h4 {
    color: #5cb85c;
}
.bs-callout-danger {
    border-left-color: #d9534f;
}
.bs-callout-danger h4 {
    color: #d9534f;
}
.bs-callout-warning {
    border-left-color: #f0ad4e;
}
.bs-callout-warning h4 {
    color: #f0ad4e;
}
.bs-callout-info {
    border-left-color: #5bc0de;
}
.bs-callout-info h4 {
    color: #5bc0de;
}
.bs-example{
    margin: 20px;
}

.gi-2x{font-size: 2em;}
.gi-3x{font-size: 3em;}
.gi-4x{font-size: 4em;}
.gi-5x{font-size: 5em;}

/*
.breadcrumb li {
    color: gray;
}

.breadcrumb > .active {color: #777 !important;}
*/

/* make room for the nav bar */
h1[id],
h2[id],
h3[id],
h4[id],
h5[id],
h6[id],
dt[id]{
padding-top: 60px;
margin-top: -40px
}

body h1 {margin-top:40px;}

.post {
  margin: 10px 20px;
}

.post-content img {
    margin: 12px 0px 3px 0px;
    width: auto;
    height: auto;
    max-width: 640px;
    max-height: 100%;
}

.post-content ol li, .post-content ul li {
    margin: 10px 0px;
}

.pageSummary {
    font-size:13px;
    display:block;
    margin-bottom:15px;
    padding-left:20px;
}

.post-summary {
    margin-bottom:12px;
}

p.post-meta {font-size: 80%; color: #444;}


li.dropdownActive a {
    font-weight: bold;
}

.post-content a.fa-rss {
    color: orange;
}

.navbar-inverse .navbar-nav > li > a {
    background-color: transparent;
    margin-top:10px;
}

.post-content .rssfeedLink {
    color: #248EC2;
}

footer {
    font-size: smaller;
}

footer#container {
  padding: 10px;
  margin: 0;
}

/* Accordions */

h4.panel-title {
  font-weight: bold;
  font-size: 1.8rem;
}

.panel-heading {
  background-color: transparent !important;
}

.panel-collapse {
  background-color: transparent;
}


#accordion .panel-heading {
  font-size: 12px;
}

a.accordion-toggle, a.accordion-collapsed {
    font-size: 14px;
    text-decoration: none;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
    border-radius:5px;
}

.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover {
    border-radius: 5px;
}

.footer-right {
    text-align: right;
}

.footer-left {
    text-align: left;
}

img.screenshotSmall {
    max-width: 300px;
}

dl dt p {
    margin-left:20px;
}

dl dd {
    margin-top:10px;
    margin-bottom:10px;
}

dl.dl-horizontal dd {
    padding-top: 20px;
}

figcaption {
    padding-bottom:12px;
    padding-top:6px;
    max-width: 90%;
    margin-bottom:20px;
    font-style: italic;
    color: gray;
}

/* Table styles */

table {
    vertical-align: middle;
    width: 100%;
    border-collapse: collapse;
    background-color: transparent;
    margin-bottom: 20px;
    border: 1px solid #808080;
}

caption, th, td {
    text-align: left;
    font-weight: normal;
    vertical-align: middle;
    padding-top: 8px;
    padding-bottom: 8px;
    border: 1px solid #808080;
    /* color: #777; */
    text-align: left;
}

table thead tr {
    background: #808080; /* rgba(0,0,0,0.2); */
}

table thead tr th {
    text-align: left;
    padding: 1rem;
}

table tbody td {
    padding: 1rem;
    text-align: left;
    vertical-align: top;
}

table > thead > tr > th,
table > tbody > tr > th,
table > tfoot > tr > th,
table > thead > tr > td,
table > tbody > tr > td,
table > tfoot > tr > td {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
}

table > thead > tr > th {
    vertical-align: bottom;
    text-transform: none;
    background-color: #777;
    color: white;
    text-align: left;
}

table > caption + thead > tr:first-child > th,
table > colgroup + thead > tr:first-child > th,
table > thead:first-child > tr:first-child > th,
table > caption + thead > tr:first-child > td,
table > colgroup + thead > tr:first-child > td,
table > thead:first-child > tr:first-child > td {
    border-top: 0;
}
table > tbody + tbody {
    b
}
table > tbody > tr:nth-of-type(odd) {
    background-color: #e6e6e6;
}

table col[class*="col-"] {
    position: static;
    display: table-column;
    float: none;
}
table td[class*="col-"],
table th[class*="col-"] {
    position: static;
    display: table-cell;
    float: none;
}

button.cursorNorm {
    cursor: default;
}

a.dropdown-toggle, .navbar-inverse .navbar-nav > li > a  {
    margin-left: 10px;
}

hr.faded {
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
    background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
    background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
    background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
}

hr.shaded {
    height: 12px;
    border: 0;
    box-shadow: inset 0 6px 6px -6px rgba(0,0,0,0.5);
    margin-top: 10px;
    background: white;
    width: 100%;
    margin-bottom: 10px;
}

.fa-6x{font-size:900%;}
.fa-7x{font-size:1100%;}
.fa-8x{font-size:1300%;}
.fa-9x{font-size:1500%;}
.fa-10x{font-size:1700%;}

i.border {
    padding: 10px 20px;
    background-color: whitesmoke;
}

a[data-toggle] {
    color: #2f471f;
}

.post-title-main {
  display: inline;
}

.post-header {
  margin: 20px 0 10px 0;
}

a.fa.fa-envelope-o.mailto {
    font-weight: 600;
}

ol li ol li {list-style-type: lower-alpha;}
ol li ul li {list-style-type: disc;}

li img {clear:both; }

span.tagTitle {font-weight: 500;}

div.alert code, h2 code {
    background-color: transparent !important;
}
code{
  max-width: 100%;
}

div.tags {padding: 10px 5px;}

.tabLabel {
    font-weight: normal;
}

hr {
    border: 0;
    border-bottom: 1px dashed #ccc;
    background: #999;
    margin: 30px 0px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

button.cursorNorm {
    cursor: pointer;
}

h2  {
    font-size:24px;
    line-height:29px;
}
span.otherProgrammingLanguages {
    font-style: normal;
}

a[data-toggle="tooltip"] {
    color: #649345;
    font-style: italic;
    cursor: default;
}

.siteTagline {
    font-size: 200%;
    font-weight: bold;
    color: silver;
    font-family: monospace;
    text-align: center;
    line-height: 10px;
    margin: 20px 0px;
    display: block;
}

.versionTagline {
    text-align: center;
    margin-bottom: 20px;
    font-family: courier;
    font-color: silver;
    color: #444;
    display:block;
}

/* not sure if using this ...*/
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: #248ec2 !important;
}

/* topbar nav */

.topnavlinks .nav > li > a {
    padding: 2px;
}

.tree-parent.expanded .nav-list{
  display:block;
}

span.muted {color: #666;}

table code {background-color: transparent;}

.highlight .err {
    color: #a61717;
    background-color: transparent !important;
}

table p {
    margin-top: 12px;
    margin-bottom: 12px;
}

pre, table code {
    white-space: pre-wrap;       /* css-3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

pre {
    margin: 25px 0px;
}

#json-box-container pre {
    margin: 0px;
}

.video-js {
    margin: 30px 0px;
}

video {
    display: block;
    margin: 30px 0px;
    border: 1px solid #c0c0c0;
}

p.required, p.dataType {display: block; color: #c0c0c0; font-size: 80%; margin-left:4px;}

dd {margin-left:20px;}

.post-content img.inline {
    margin:0px;
    margin-bottom:6px;
}

.note code, .alert code, .warning code, div#toc code, h2 code, h3 code, h4 code {
    color: inherit;
    padding: 0px;
}

a.accordion-toggle {
    font-style: normal;
}

h3.codeExplanation {
    font-size:18px;
    font-style:normal;
    color: black;
    line-height: 24px;
}

span.soft {
    color: #c0c0c0;
}

.githubEditButton {
  margin: 10px;
  float: right;
}

.githubEditButton-nofloat {
    margin-bottom:7px;
}

.endpoint {
    padding: 15px;
    background-color: #f0f0f0;
    font-family: courier;
    font-size: 110%;
    margin: 20px 0px;
    color: #444;
}

.parameter {
    font-family: courier;
    color: red !important;
}

.formBoundary {
    border: 1px solid gray;
    padding: 15px;
    margin: 15px 0px;
    background-color: whitesmoke;
}

@media (max-width: 767px) {
    .navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
        color: #444;
    }
}

@media (max-width: 990px) {
    #mysidebar {
        position: relative;
    }
}

@media (min-width: 1000px) {

    ul#mysidebar {
        width: 225px;
    }
}

@media (max-width: 900px) {

    ul#mysidebar {
        max-width: 100%;
    }
}

.col-md-9 img {
    max-width: 100%;
    max-height: 100%;
}

.videoThumbs img {
    float: left;
    margin:15px 15px 15px 0px;
    box-shadow: 2px 2px 1px #f0f0f0;
    border: 1px solid #dedede;
}

@media only screen and (min-width: 900px), @media only screen and (min-device-width: 900px) {
    .col-md-9 img {
        max-width: 700px;
        max-height: 700px;
    }
}

*:hover > .anchorjs-link {
    transition: color .25s linear;
    text-decoration: none;
}

/* this part adds an icon after external links, using FontAwesome */
a[href^="http://"]:after,  a[href^="https://"]:after {
    content: "\f08e";
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    display: inline-block;
    text-decoration: none;
    padding-left: 3px;
    font-size: 120%;
}

/* Strip the outbound icon when this class is present */
a[href].noCrossRef::after,
a.no_icon:after
 {
    content:"" !important;
    padding-left: 0;
}

.btn-default {
    margin-bottom: 10px;
}

.nav li.active > a.subfoldersTitle {
    background-color: whitesmoke;
    font-weight: bold;
    color: black;
}
/*
a code {
    color: #248EC2;
}
*/

code + a > code {
    margin-left: -7px;
}

table th code {
    color: white;
}

ol li ul li ol li {
    list-style: decimal;
}

ol li ul li ol li ul li{
    list-style: disc;
}

.post-content table th {
    vertical-align: top;
}

table thead th code.highlighter-rouge {
    background-color: transparent;
}


div.arrow {
    max-width: 50px;
    margin-left: 15px;
    margin-right: 15px;
    font-size: 20px;
}

div.content {
    max-width: 110px
}


.clearfix {
    clear: both;
}

.box1 {
    margin-left:0px;
}

button.btn.btn-default.btn-lg.modalButton1 {
    margin-left: -20px;
}

div.box.box1 {
    margin-left: -20px;
}

/*
 * Let's target IE to respect aspect ratios and sizes for img tags containing SVG files
 *
 * [1] IE9
 * [2] IE10+
 */
/* 1 */
.ie9 img[src$=".svg"] {
    width: 100%;
}
/* 2 */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    img[src$=".svg"] {
        width: 100%;
    }
}

/* Added by Rand
.subfolders {
  padding-left: 10px;
}
*/

pre.highlight {
  padding: 10px;
  font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
  border-radius: 3px;
  border: 1px solid #8c8c8c;
  font-size: 11pt;
}

code.highlighter-rouge {
  font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
}

td pre {
  margin-top: 0;
  margin-bottom: 0;
  }

blockquote p { font-size: 100%; }

/*
For printing
*/

@media print
{
    .sidebar-col, .githubEditButton {
        display: none !important;
    }
}
/* ---- Alerts  ----*/

.alert, .callout {
    overflow: hidden;
}

.alert-warning {
    color: #444;
}

/* without this, the links in these notes aren't visible.*/
.alert a {
    text-decoration: underline;
}

.alert {
    margin-bottom:10px;
    margin-top:10px;
}

/* ---- From lavish-bootstrap.css ----*/

.alert {
  padding: 0 15px 15px 15px;
  /*padding: 15px;*/
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}
.alert h4 {
  margin-top: 0;
  color: inherit;
}
.alert .alert-link {
  font-weight: bold;
}
.alert > p,
.alert > ul {
  margin-bottom: 0;
}
.alert > p + p {
  margin-top: 5px;
}
.alert-dismissable {
  padding-right: 35px;
}
.alert-dismissable .close {
  position: relative;
  top: -2px;
  right: -21px;
  color: inherit;
}
.alert-success {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #468847;
}
.alert-success hr {
  border-top-color: #c9e2b3;
}
.alert-success .alert-link {
  color: #356635;
}
.alert-info {
  background-color: #d9edf7;
  border-color: #bce8f1;
  color: #3a87ad;
}
.alert-info hr {
  border-top-color: #a6e1ec;
}
.alert-info .alert-link {
  color: #2d6987;
}
.alert-warning {
  background-color: #fcf8e3;
  border-color: #fbeed5;
  color: #c09853;
}
.alert-warning hr {
  border-top-color: #f8e5be;
}
.alert-warning .alert-link {
  color: #a47e3c;
}
.alert-danger {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48;
}
.alert-danger hr {
  border-top-color: #e6c1c7;
}
.alert-danger .alert-link {
  color: #953b39;
}

/* ------------- Added for strongloop.com ------------ */

/* page layout */
.page-header {
  padding: 3rem 0 3rem 0;
}

/* Home page */
.date {
  font-size: 80%;
}
.x-green .author a{
  color: #000
}

.project-tile {
  border-radius: 3px;
  padding: 10px;
  min-height: 240px;
  font-weight: 400;
  text-align: justify;
  font-size: 110%;
}

.tile-img {
  width: 200px;
  margin-left: auto;
  margin-right: auto;
}

.home-notice {
  border: 1px solid #6aa12b;
  border-radius: 4px;
  background: #91cf4a;
  padding: 10px;
  margin-bottom: 3rem !important;
}

.home-notice-header {
  font-weight: bold;
  text-align: center;
}

/* Events page */
#events {
  border: #000;
}

/* Blogs */
.excerpt {
  font-size: 85%;
}

.blog-archive {
  font-size: 90%;
}

.date {
  font-style: italic;
  color: #444;
  margin-left: 10px;
}

div.post-content h2 {
  font-weight: 500;
  font-size: 2rem;
}

div.post-content h3 {
  font-weight: 500;
  font-size: 1.5rem;
}

div.post-content h4 {
  color: #808080;
  font-weight: 500;
  font-size: 1.25rem;
}

/* Breadcrumbs */

.breadcrumb {
  padding: 20px 0 0 3rem;
  font-size: 85%;
}

.breadcrumb a, .x-green a, .post-meta a {
  color: #444;
}

.breadcrumb a:hover, .breadcrumb a:focus,
.x-green a:hover, .x-green a:focus,
.post-meta a:hover, .post-meta a:focus {
  color: #f3faeb;
}

/* Newsletter */
.nl-yr {
  margin-left: 20px;
}

/* MailChimp (newsletter) signup form */
#mc_embed_signup {
  clear: left;
  font: 14px Helvetica,Arial,sans-serif;
  margin-top: -20px;
}

#mc_embed_signup_scroll h2 {
  padding-top: 0;
}
/* Restrict post image width on archive */
.c-container .excerpt img{
  max-width: 100%;
}
.strictwidth{
  max-width: 100%;
}
/* Share buttons */
.twitter-share-button{
  color: #fff;
  background-color: #1da1f2;
  padding: 2px;
  font-size: 11.5px;
  border-radius: 3px;
  position: relative;
  display: inline-block;
  vertical-align: bottom;
  cursor: pointer;
}
.twitter-share-button:hover{
  color: #fff;
}
.newshare-share-button{
  padding: 2px;
  font-size: 11.5px;
  border-radius: 3px;
  position: relative;
  display: inline-block;
  vertical-align: bottom;
  cursor: pointer;
  color: #fff;
  padding-left:5px;
  padding-right: 5px;
}
.tumblrshare{
  background-color: #3C5970;
}
.pinterestshare{
  background-color: #CC2028;
}
.linkedinshare{
  background-color: #006699;
}
.redditshare{
  background-color: #FF4500;
}
.newshare-share-button img{
  max-width: 30px;
  
  width: auto;
}
/* offer central images */
.post-content img.center-image{
  margin: 0 auto;
}
@media (max-width:768px) {
  .post-content img{
    max-width: 100%;
  }
  .page-header{
    padding: 3rem 1rem 3rem 1rem;
  }
}
