---
layout: page
permalink: /
---
{% include section.html content='
  <p class="learn-more x-center"><a href="/newsletter" class="c-button -lg x-center">Get Newsletter</a></p>
' %}

{% include section.html color='x-lightgreen' narrow='true' content='
    <h1 class="c-heading -h2">Supporting the open-source community</h1>
    <p>StongLoop began in 2013 offering an open-source and enterprise version of Node.js. Acquired by IBM in 2015, the StrongLoop team continues to build LoopBack, the open-source framework. StrongLoop and IBM continue to contribute and support the Open Source community.</p>
    <p>Projects:</p>
    <ul>
      <li><a class="no_icon" href="http://loopback.io">LoopBack</a></li>
      <li><a class="no_icon" href="https://github.com/strongloop/microgateway">Microgateway</a></li>
      <li><a class="no_icon" href="https://www.openapis.org/">Open API initiative</a></li>
    </ul>
    <div style="height: 50px;">
' %}
