---
layout: page
permalink: /
---
<section class="c-section x-green">
  <div class="c-container page-header">
    <p class="learn-more x-center"><a href="{{site.url}}/newsletter" class="no_icon c-button -lg x-center">Get Newsletter</a></p>
  </div>

  <div class="c-grid">
    <div class="_col -col-1-2 -offset-1-4 ">
      <div class="home-notice">
        <span style="font-weight: bold;">Looking for StrongLoop Arc or API Connect?</span>
        <br/>Arc has been replaced by API Connect. We recommend Arc users move to the Essentials edition of <a href="https://console.ng.bluemix.net/catalog/services/api-connect?cm_mmc=Earned-_-IBM+Cloud_API+Economy-_-WW_WW-_-StrongLoop+API+Connect+Page_ov49843&cm_mmca1=000000WT&cm_mmca2=10002833&">API Connect</a>.
      </div>
      <div style="height: 20px;"></div>
    </div>
  </div>
</section>

<section class="c-section x-white">
  <div class="c-container">

    <h1 class="c-heading -h2">Supporting the open-source community</h1>

    <p>StongLoop began in 2013 offering an open-source enterprise version of Node.js. Acquired by IBM in 2015, the StrongLoop team continues to build LoopBack, the open-source Node.js API Framework. StrongLoop and IBM continue to contribute and support the open-source community.  Projects include:</p>

    <div class="c-grid">
    {% include tile.html
      link ="http://loopback.io"
      image="loopback-logo-sm.png" image-width="100px"
      blurb="Highly-extensible, open-source Node.js framework ideal for APIs." %}

    {% include tile.html
      link ="https://github.com/strongloop/microgateway" image="MicroGatewayArchitecture.png" image-width="200px"
      blurb="Developer-focused, extensible Node.js gateway framework for enforcing access to microservices and APIs." %}

    {% include tile.html
      link ="https://www.openapis.org/"
      image="OpenAPI_Pantone.png" image-width="200px"
      blurb="<br/>Vendor-neutral, open, portable API description based on the Swagger specification." %}
    </div>
  </div>
  <div style="height: 50px;">
</section>

<section class="c-section x-green">
  <div class="c-container -padded-bottom">
    <div class="c-grid">
      <div class="_col -col-4-5">
        <h2 class="c-heading -h2">Latest Blog Posts</h2>
      </div>
    </div>
  </div>
</section>

<section class="c-section x-white" >
  <div class="c-container">
    <div class="c-grid">
    {% for post in site.posts limit:3 %}
    <div class="_col -col-1-3">
      <div class="blog-mini">
        <h3 class="c-heading -h5"><a class="no_icon" href="{{site.url}}{{ post.url }}">{{ post.title }}</a></h3>
      </div>
      <p class="date"> {{ post.date | date: "%b %-d, %Y" }}</p>
      <div class="excerpt">
        {{post.excerpt | truncate: 150 }}
        <p><a class="no_icon" href="{{site.url}}{{ post.url }}">More...</a>
      </div>
    </div>
    {% endfor %}
      </div>
    </div>
</section>
<!-- <img class="blog-icon" src="{{site.url}}/blog-assets/2013/07/sl_nr_icons_1.png"/> -->
