      <footer class="c-footer x-darkgrey">
        <div class="c-container -padded">
          <div class="legal">
            <a target="_new" href="https://www.ibm.com/privacy/us/en/?lnk=flg-priv-usen?lnk=flg">Privacy Policy</a> <br/>
            <a target="_new" href="https://www.ibm.com/legal/us/en/?lnk=flg-tous-usen?lnk=flg">Terms of Use</a>
            <div class="_copyright"> © Copyright 2019, IBM </div>
          </div>
              {% include analytics.html %}
          {% include nav.html %}
          <iframe src="https://ghbtns.com/github-btn.html?user=strongloop&amp;repo=loopback&amp;type=follow" class="c-github-follow"></iframe>
        </div>
      </footer>
    </div>
