{% assign items = site.data.nav %}
<a href="{{site.url}}" class="_logo x-flex-v no_icon" ></a>
<nav class="_nav js-masthead-nav">
  <ul class="_nav-list js-nav-list">
    {% for item in items %}
      {% assign url = item.url %}
      {% if url == 'strongblog' and site.url == 'http://localhost:4001' %}
        {% assign url = 'blog' %}
      {% endif %}
      <li class="_nav-item {% if page.url contains url %}-active{% endif %}">
        <a class="no_icon" href="{{site.url}}/{{ url }}" title="{{item.title}}">{{item.title}}</a>
      </li>
    {% endfor %}
  </ul>
</nav>
