{% assign items = site.data.nav %}
<a href="{{site.url}}" class="_logo x-flex-v no_icon" ></a>
<nav class="_nav js-masthead-nav">
  <ul class="_nav-list js-nav-list">
    {% for item in items %}
      {% assign url = item.url %}
      {% if url == 'strongblog' and site.url == 'http://localhost:4001' %}
        {% assign url = 'blog' %}
      {% endif %}
      <li class="_nav-item {% if page.url contains url %}-active{% endif %}">
        <a class="no_icon" href="{{site.url}}/{{ url }}" title="{{item.title}}">{{item.title}}</a>
      </li>
    {% endfor %}
    <li class="_nav-item ">
    	<a class="no_icon" href="https://twitter.com/StrongLoop"><i class="fa fa-twitter" aria-hidden="true"></i></a>
    </li>
	<li class="_nav-item ">
		<a class="no_icon" href="https://www.facebook.com/strongloop/"><i class="fa fa-facebook" aria-hidden="true"></i></a>
	</li>
	<li class="_nav-item ">
		<a class="no_icon" href="https://www.linkedin.com/groups/5046525"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
	</li>
  <li class="_nav-item no-foot">
    <a class="no_icon" href="https://github.com/strongloop"><i class="fa fa-github" aria-hidden="true"></i></a>
  </li>
  </ul>
</nav>
