---
title: StrongLoop Blog Archive
layout: page
permalink: /blog-archives/
---
{% for year in (2013..2017) reversed %}
  {% assign y = year | modulo: 2 %}
  {% if y == 0 %}
    {% assign color = 'x-lightgrey'%}
  {% else %}
    {% assign color = 'x-white'%}
  {% endif %}

  <section class="c-section {{color}}">
    <div class="c-container -padded">
      <div class="c-grid">
        <div class="_col -col-4-5 blog-archive" >
          <h2>{{ year }}</h2>
          <ul>
          {% for post in site.posts %}

            {% assign post_year = post.date | date: "%Y"% %}
            {% capture sYear %}{{year}}{% endcapture %}

            {% if sYear == post_year %}
              <li>
                <a class="no_icon" href="{{site.url}}{{ post.url }}">{{ post.title }}</a> - {{ post.date | date: "%b %-d, %Y" }}
              </li>
            {% endif %}

          {% endfor %}
          </ul>
        </div>
        {% if year == 2017 %}
        <div class="_col -col-1-5">
          {% include categories-list.html %}
        </div>
        {% endif %}
      </div>
    </div>
  </section>
{% endfor %}
