---
title: StrongLoop Blog Archive (By Year)
layout: page
permalink: /blog-archives
---
<section class="c-section x-green">
  <div class="c-container -padded">
    <div class="c-grid">
      <div class="_col -col-4-5 blog-archive" >
      {% for year in (2013..2017) reversed %}
        <h2>{{ year }}</h2>
        <ul>
        {% for post in site.posts %}

          {% assign post_year = post.date | date: "%Y"% %}
          {% capture sYear %}{{year}}{% endcapture %}

          {% if sYear == post_year %}
            <li>
              <a href="{{ post.url }}">{{ post.title }}</a> - {{ post.date | date: "%b %-d, %Y" }}
            </li>
          {% endif %}

        {% endfor %}
        </ul>
        <br/>
      {% endfor %}
      </div>

      {% include blog-sidebar.html %}

    </div>
  </div>
</section>
