---
title: Events
layout: page
permalink: /events3/
redirect_from:
  - /developers/events/
  - /node-js/node-interactive-2015/
  - /events
---

<section class="c-section x-white">
  <div class="c-container -padded">

    <!-- <h1 class="c-heading -h2 x=center"></h1> -->
    <div class="c-grid">
      <div class="_col -col-1-1">
        <p>Check out StrongLoop at these upcoming conferences, webinars, meetups, and events.</p>
      </div>
      
     
{% <a href = "https://www.correoslabs.com/en/events/loopback-develop-apis-nodejs-easy-and-simple-way">
      <img src="madrid.png" image-width="250px"></a>
    <b>LoopBack: Develop APIs in Node.js in an Easy and Simple Way</b>
</br>
</br>WHERE: Madrid
</br>WHEN: May 24, 2018
</br>
</br>Correoslabs invites you to this workshop in which Dennis Ashby talks about LoopBack.
</br>Learn more" %}

{% include tile.html
link ="https://www.eventbrite.com/e/mobilemonday-building-an-ai-recognition-app-with-nodejs-and-watson-visual-recognition-tickets-45674322127"
image="mm-may-30.png" image-width="250px"
blurb="MobileMonday: Building an AI Recognition App with Node.js and Watson Visual Recognition
</br>
</br>WHERE: San Francisco, CA
</br>WHEN: May 30, 2018
</br>
</br>Learn how to build Apps that combine Node.js with Watson Visual Recognition.
</br>Learn more" %}

{% include tile.html
link ="https://www.eventbrite.com/e/fast-hacks-competitive-hackathon-tickets-45600664816"
image="fast-hacks.png" image-width="250px"
blurb="Fast Hacks Competitive Hackathon
</br>
</br>WHERE: Santa Clara, CA
</br>WHEN: June 2, 2018
</br>
</br>Race against other teams to come up with an idea and develop a Node stack prototype by the end of the day.
</br>Learn more" %}
     
</div>
</div>
  <!-- <div style="height: 50px;"> -->
</section>
