---
title: Events
layout: page
permalink: /events/
redirect_from:
  - /developers/events/
  - /node-js/node-interactive-2015/
  - /events
---
{% include section.html content='
      <div class="c-grid">
        <div class="_col -col-3-4">
          <h2>Check out StrongLoop at these upcoming conferences, webinars, meetups, and events.</h2>
        </div>
        <div class="_col -col-1-4">
        <img src="/blog-assets/2013/07/sl_nr_events_graphic_0_main.png" class="c-fleximg">
        </div>
      </div>
' %}

{% include section.html color='x-lightgrey' content='
      <div class="c-grid">
        <div class="_col -col-1-4">
        <img src="/blog-assets/2013/07/meetup.png" class="c-fleximg">
        </div>
        <div class="_col -col-3-4">
          <h2>Are you a Meetup organizer looking for a sponsor, speakers or interested in hosting a Node.js workshop?
            <br/><br/>Drop us a line at <a href="mailto:marketsl@us.ibm.com">marketsl@us.ibm.com</a></h2>
        </div>
      </div>
' %}

<section class="c-section x-white">
  <div class="c-container -padded">
    <div class="c-grid">
      <div class="_col -col-1-1">

## Node.js, API Development, and Mobile Events ##

| WHEN | WHAT | WHERE | STRONGLOOP ROLE |
| ------- | ------- | ------- | ------- |
| June 10 | [Hyderabad MEAN Stack & LoopBack Developers: Exploring StrongLoop and Watson](https://www.meetup.com/Hyderabad-Strongloop-MEAN-Meetup/) | Hyderabad, India | Speaking & sponsor |
| June 10-11 | [AngelHack Global Hackathon Series: Berlin](http://angelhack.com/angelhack-global-hackathon-series-berlin/) | Berlin, Germany | Sponsor |
| June 10-11 | [AngelHack Global Hackathon Series: Manhattan](http://angelhack.com/angelhack-global-hackathon-series-manhattan) | New York, NY | Speaking |
| June 13 | [Unlock enterprise data with APIs using LoopBack](https://engage.vevent.com/index.jsp?eid=556&seid=90377) | Webcast | Speaking & sponsor |
| June 13-15 | [Cloud Foundry Summit Silicon Valley](https://www.cloudfoundry.org/event/summit-silicon-valley-2017/) | Santa Clara, CA | Speaking |
| June 19-21 | [DeveloperWeek NY](http://www.developerweek.com/NYC/) | New York, NY | Speaking & sponsor |
| June 20-22 | [Fluent](https://conferences.oreilly.com/fluent/fl-ca) | San Jose, CA | Speaking |
| June 27 | [LoopBack Now and Next](https://engage.vevent.com/index.jsp?eid=556&seid=90290") | Webcast | Speaking & sponsor |
| July 8-9 | [AngelHack Global Hackathon Series: Austin](http://angelhack.com/angelhack-global-hackathon-series-austin) | Austin, TX | Speaking |
| July 13 | [FullStack 2017](https://skillsmatter.com/conferences/8264-fullstack-2017-the-conference-on-javascript-node-and-internet-of-things/) | London, England | Speaking |
| July 20-21 | [cf.Objective() 2017](http://www.cfobjective.com/) | Washington, DC | Speaking |
| July 26-27 | [FowardJS](https://forwardjs.com/) + [ForwardServerless](https://forwardjs.com/) | San Francisco, CA | Speaker |
| July 26-27 | [Node Summit](http://nodesummit.com/) | San Francisco, CA | Speaking & sponsor |
| July 29-30 | [AngelHack Global Hackathon Series: Silicon Valley](http://angelhack.com/angelhack-global-hackathon-series-silicon-valley) | San Mateo, CA | Speaking |
| Aug 3-4 | [KCDC 2017](http://www.kcdc.info/index.html) | Kansas City, MO | Speaking |
| Aug 16-18 | [MidwestJS](http://midwestjs.com/#/main) | Minneapolis, MN | Speaking |
| Oct 4-6 | [Node Interactive](http://events.linuxfoundation.org/events/node-interactive) | Vancouver, Canada | Speaking & sponsor |
 
We're also proud to sponsor these monthly meetups: 

| WHAT | WHERE |
| ------- | ------- |
| [BayNode - The Bay Area Node.js Meetup](http://www.meetup.com/BayNode/) | Mountain View, CA | 
| [NashJS](http://www.meetup.com/nashjs/) | Nashville, TN |
| [Node.dc](http://www.meetup.com/node-dc/) | Washington, DC | 
| [Atlanta Nodejs Developers](http://www.meetup.com/Atlanta-Nodejs-Developers/) | Atlanta, GA | 
| [LNUG - London Node User Group](http://lnug.org/) | London, UK | 
| [Denver/Boulder NodeJS](https://www.meetup.com/Node-js-Denver-Boulder/)| Denver, CO | 
| [SoCal Node.js](https://www.meetup.com/SoCal-Node-JS/) | Los Angeles, CA  
| [DC JS](https://www.meetup.com/DC-JavaScript/) | Washington, DC |
| [DonutJS](http://donutjs.club/) | Portland, OR |
        
      </div>
    </div>
  </div>
</section>
