---
title: Open-Source Projects
layout: page
permalink: /events3/
redirect_from: 
  - /developers/events/
  - /node-js/node-interactive-2015/
  - /events
---
{% include section.html content='
<div class="c-grid">
  <div class="_col -col-4-5">
    <p>Check out StrongLoop at these upcoming Node.js, API Development, and Integration Events. This includes conferences, webinars, meetups, and more.</p>
    <ul>
      <li><a href="#denverbouldernodejs">Denver/Boulder NodeJS</a></li>
      <li><a href="#lnug">LNUG - London Node User Group</a></li>
      <li><a href="#sacramentojavascript">The Sacramento JavaScript Meetup</a></li>
    </ul>
  </div>
</div>
' %}

<section class="c-section x-lightgrey">
  {% include_relative events/denverbouldernodejs.html %}
</section>

<section class="c-section x-white">
  {% include_relative events/lnug.html %}
</section>

<section class="c-section x-lightgrey">
  {% include_relative events/sacramentojavascript.html %}
</section>
