---
title: Frequently-Asked Questions
layout: page
permalink: faq/
redirect_from:
  - /in-the-loop-suggestion/
  - /node-js/certification/
  - /node-js/technical-support/
  - /acquisition-faq/
  - /api-connect-faqs/
  - /developers/forums/
  - /register
  - /from
  - /faq
---

{% include faq.html
ques="Where should I go if I have questions about LoopBack?"
ans="You can use the [LoopBack Slack community](https://join.slack.com/t/loopbackio/shared_invite/zt-8lbow73r-SKAKz61Vdao~_rGf91pcsw) for active discussion of developer questions, to learn from other developers using LoopBack, and to ask and discuss questions with fellow LoopBack developers.

You can find other LoopBack resources [here](https://loopback.io/resources.html)."
%}

{% include faq.html
ques="Is LoopBack still open source? Do I have to pay to use LoopBack?"
ans="LoopBack is an open source project. LoopBack [joins the OpenJS Foundation as new incubating project](https://openjsf.org/blog/2021/06/02/loopback-joins-openjs-foundation-as-new-incubating-project/) as of Jun 2, 2021. You can use LoopBack for no charge."
%}

{% include faq.html
ques="I'm currently using LoopBack. Do I have to move to API Connect?"
ans="You will be able to continue to use LoopBack as usual. However, you may want to move to [API Connect](https://developer.ibm.com/apiconnect/getting-started/) for a comprehensive, streamlined management solution that addresses all aspects of the API lifecycle. If you have questions about API Connect, see the [API Connect product page](https://www.ibm.com/ca-en/cloud/api-connect)"
%}
