---
title: Frequently-Asked Questions
layout: page
permalink: /faq
---
{% include faq.html
ques="Can I register to use StrongLoop Arc?"
ans="Arc has been replaced by API Connect. No one new can register for Arc or use Arc. Only previously-registered users can use Arc and get support. We recommend Arc users move to the Essentials edition of <a href='https://developer.ibm.com/apiconnect/getting-started/'>API Connect</a>. If you have questions, please email <a href='mailto:reachsl@us.ibm.com'>reachsl@us.ibm.com</a>.
" %}

{% include faq.html
ques="What happens if I already have a StrongLoop product? Do I have to move to <a href='https://developer.ibm.com/apiconnect/getting-started/'>API Connect</a>?"
ans="You will be able to continue to use Loopback as usual. However, you may want to move to API Connect for a comprehensive, streamlined management solution that addresses all aspects of the API lifecycle. Arc has been discontinued."
%}

{% include faq.html
ques="For customers who currently have a subscription for StrongLoop products, have the terms and conditions changed?"
ans="No. If you have a specific question concerning your subscription, contact <a href='mailto:reachsl@us.ibm.com'>reachsl@us.ibm.com</a>. %}

{% include faq.html
ques="As a StrongLoop customer, who should I contact with any additional questions about API Connect?"
ans="Send an email to <a href='mailto:reachsl@us.ibm.com'>reachsl@us.ibm.com</a>. %}

{% include faq.html
ques="Is LoopBack still open source? Do I have to pay to use LoopBack? How can I get support for LoopBack as an enterprise?"
ans="LoopBack is still open source, and IBM will continue to contribute to and maintain the StrongLoop community. You can use LoopBack for no charge but if you need IBM support for LoopBack you will have to buy a paid version of API Connect (Professional or Enterprise).
API Connect packages a set of capabilities including LoopBack into an integrated offering. You can always use the Essentials edition of API Connect for no charge for up to 50,000 API calls per month." %}

{% include faq.html
ques="For StrongLoop customers who need to log a support issue, does anything change in how they go about opening a ticket?"
ans="Any StrongLoop customers who require assistance should use the new (IBM Support Portal)[https://www-947.ibm.com/support/entry/portal/support].
" %}

{% include faq.html
ques="There is a lot of valuable content on strongloop.com and docs.strongloop.com, Will it continue to be available online?"
ans="Yes. strongloop.com and the documentation site will remain online.
<br/><br/><br/>
" %}
