---
title: Frequently-Asked Questions
layout: page
permalink: faq/
redirect_from:
  - /in-the-loop-suggestion/
  - /node-js/certification/
  - /node-js/technical-support/
  - /acquisition-faq/
  - /api-connect-faqs/
  - /developers/forums/
  - /register
  - /from
  - /faq
---

{% include faq.html
ques="Is LoopBack still open source? Do I have to pay to use LoopBack?"
ans="LoopBack is still open source, and IBM will continue to contribute to and maintain the StrongLoop community. You can use LoopBack for no charge."
%}

{% include faq.html
ques="I'm currently using LoopBack. Do I have to move to API Connect?"
ans="You will be able to continue to use LoopBack as usual. However, you may want to move to [API Connect](https://developer.ibm.com/apiconnect/getting-started/) for a comprehensive, streamlined management solution that addresses all aspects of the API lifecycle. If you have questions about API Connect, send an email to [reachsl@us.ibm.com](mailto:reachsl@us.ibm.com)."
%}

{% include faq.html
ques="How can I get support for LoopBack as an Enterprise?"
ans="Users who have a paid version of API Connect (Professional or Enterprise) can receive IBM support for LoopBack through the new [IBM Support Portal](https://www-947.ibm.com/support/entry/portal/support). 

IBM Foundation Support for Runtimes provides coverage for LoopBack, Express, Node.js, Swift and Java. Support is available for the Node.js 6 & 8 LTS binaries from the nodejs.org community and the IBM SDK for Node.js, which includes the open sourced [App Metrics](https://developer.ibm.com/node/monitoring-post-mortem/application-metrics-node-js/) monitoring framework.

This support is available regardless of which modules you are using within your application and wherever you want to deploy the runtime - on your own machines or in the cloud, and whether that’s IBM Cloud, Amazon Web Services, Microsoft Azure, Heroku or somewhere else.

IBM Advanced Support for Runtimes expands on Foundation Support, providing additional coverage for the Express.js, Loopback, and Kitura (Swift framework) frameworks as well as the packages on which they rely.

These offerings provide you with the majority of what you need in order to be able to create, deploy, monitor and scale production-grade web applications and mobile back ends using Node.js. Visit [IBM's marketplace](https://www.ibm.com/us-en/marketplace/support-for-runtimes) to learn more."
%}

{% include faq.html
ques="Are there other options for LoopBack support?"
ans="If you don't have a Professional or Enterprise version of API Connect, you can use the [LoopBack Gitter chat room](https://gitter.im/strongloop/loopback) for active discussion of developer questions, to learn from other developers using LoopBack, and to ask and discuss questions with fellow LoopBack developers."
%}
