---
title: Register for our monthly StrongLoop Developer Newsletter!
layout: page
permalink: /newsletter/
redirect_from:
  - /newsletter
---
<section class="c-section x-lightgrey">
  <div class="c-container -padded">
    <div class="c-grid">
      <div class="_col -col-1-2">
        <p>StrongLoop’s newsletter contains information on LoopBack, API Microgateway, the Open API Initiative, and API developer news and tutorials, as well as announcements and events. Subscribe using this form and check out any issues you may have missed in the archives below.</p>
      </div>
      <div class="_col -col-1-2">
        {% include mailchimp.html %}
      </div>
    </div>
  </div>
</section>

<section class="c-section x-green">
  <div class="c-container -padded-bottom">
    <div class="c-grid">
      <div class="_col -col-4-5">
        <h2 class="c-heading -h2">Newsletter Archives</h2>
      </div>
    </div>
  </div>
</section>

{% include section.html content='
    <div class="c-grid">
      <div class="_col -col-4-5">
        <h3 class="c-heading -h3">2018</h3>
          <div class="nl-yr">
            
              <p><a target="_blank" href="https://mailchi.mp/strongloop/loopbacknext-making-our-open-source-platform-effortlessly-extensible-1067197?e=[UNIQID]">May 2018: MobileMonday Meetup | Wordnik | More!</a></p>
             <p><a target="_blank" href="https://mailchi.mp/strongloop/loopbacknext-making-our-open-source-platform-effortlessly-extensible-1067189?e=[UNIQID]">April 2018: LB 4 Milestones | @loopback/boot | More!</a></p>
             
            <p><a target="_blank" href="https://mailchi.mp/strongloop/loopbacknext-making-our-open-source-platform-effortlessly-extensible-1067181?e=[UNIQID]">March 2018: LoopBack 4 JSON Schemas |Example Projects | More!</a></p>
            
            <p><a target="_blank" href="https://mailchi.mp/strongloop/loopbacknext-making-our-open-source-platform-effortlessly-extensible-1067169?e=[UNIQID]">February 2018: Generate Controllers With LoopBack 4 | IBM SDK for Node.js | More! </a></p>
          <p><a target="_blank" href="http://mailchi.mp/strongloop/loopbacknext-making-our-open-source-platform-effortlessly-extensible-1067173?e=[UNIQID]">January 2018: LoopBack 2017 Review | New LoopBack Logo | Node.js Support  </a></p>
             
        
        </div>
      </div>
    </div>
' %}

{% include section.html color='x-lightgrey' content='
    <div class="c-grid">
      <div class="_col -col-4-5">
        <h3 class="c-heading -h3">2017</h3>
        <div class="nl-yr">
                      
          <p><a target="_blank" href="http://mailchi.mp/strongloop/loopbacknext-making-our-open-source-platform-effortlessly-extensible-1067089?e=[UNIQID]">December 2017 - LoopBack 4 Developer Preview Release | Writing LoopBack 4 Extensions | And more!</a></p>
          <p><a target="_blank" href="http://mailchi.mp/strongloop/loopbacknext-making-our-open-source-platform-effortlessly-extensible-1067057?e=[UNIQID]">November 2017 - A Taste of the LoopBack Framework | OpenAPI 2.0 Spec for Slack Web API</a></p>
                     <p><a target="_blank" href="http://mailchi.mp/strongloop/loopbacknext-making-our-open-source-platform-effortlessly-extensible-1067025?e=[UNIQID]">October 2017 - Building a Vue.js Application with LoopBack | Join StrongLoop & IBM at APIStrat</a></p>
           <p><a target="_blank" href="http://mailchi.mp/strongloop/loopbacknext-making-our-open-source-platform-effortlessly-extensible-1066985?e=[UNIQID]">September 2017 - Deploy Your LoopBack API in 5 More Minutes | Join StrongLoop & IBM at Node Interactive</a></p>
                              <p><a target="_blank" href="http://us8.campaign-archive1.com/?u=fff96e3211df0eba0c4cbe647&id=daf8c0e485&e=[UNIQID]">August 2017 - Generate a Client SDK For LoopBack with the Bluemix CLI | The OpenAPI Spec and You | And much more!</a></p>
                    <p><a target="_blank" href="http://mailchi.mp/strongloop/loopbacknext-making-our-open-source-platform-effortlessly-extensible-1066469?e=[UNIQID]">July 2017 - LoopBack As An Event Publisher</a></p>
                    <p><a target="_blank" href="http://mailchi.mp/strongloop/loopbacknext-making-our-open-source-platform-effortlessly-extensible-1066373?e=[UNIQID]">June 2017 - StrongLoop Evolves to Promote Open-Source Solutions for the API Developer Community</a></p>
          <p><a target="_blank" href="http://mailchi.mp/strongloop/loopbacknext-making-our-open-source-platform-effortlessly-extensible?e=[UNIQID]">May 2017 - LoopBack.next - Making LoopBack Effortlessly Extensible </a></p>
          <p><a target="_blank" href="http://us8.campaign-archive2.com/?u=fff96e3211df0eba0c4cbe647&id=1cd7a26dbd&e=[UNIQID]">April 2017 - Introducing API Microgateway</a></p>
          <p><a target="_blank" href="http://us8.campaign-archive2.com/?u=fff96e3211df0eba0c4cbe647&id=ad5a7f2f11&e=[UNIQID]">February 2017 - LoopBack, Strong-soap and New Webinars</a></p>
          <p><a target="_blank" href="http://us8.campaign-archive1.com/?u=fff96e3211df0eba0c4cbe647&id=1db65072d8&e=[UNIQID]">January 2017 - Announcing the LoopBack CLI and LoopBack GA 3.0</a></p>
        </div>
      </div>
    </div>
' %}

{% include section.html content='
    <div class="c-grid">
      <div class="_col -col-4-5">
        <h3 class="c-heading -h3">2016</h3>
          <div class="nl-yr">
          <p><a target="_blank" href="http://us8.campaign-archive1.com/?u=fff96e3211df0eba0c4cbe647&id=d4b69bb10e&e=[UNIQID]">December 2016: Webinar - Build Simple Search APIs with LoopBack and ElasticSearch</a></p>
          <p><a target="_blank" href="http://us8.campaign-archive1.com/?u=fff96e3211df0eba0c4cbe647&id=8fff9bc3bc&e=[UNIQID]">November 2016: Announcing LoopBack 3.0 Release Candidate</a></p>
          <p><a target="_blank" href="http://us8.campaign-archive1.com/?u=fff96e3211df0eba0c4cbe647&id=732e3c361c&e=[UNIQID]">October 2016: New Life for LoopBack Documentation</a></p>
          <p><a target="_blank" href="http://us8.campaign-archive1.com/?u=fff96e3211df0eba0c4cbe647&id=95b76af918&e=[UNIQID]">September 2016: Coding Guidelines for LoopBack Are Here!</a></p>
          <p><a target="_blank" href="http://us8.campaign-archive1.com/?u=fff96e3211df0eba0c4cbe647&id=760eaa661f&e=[UNIQID]">August 2016: Building JavaScript Charts Powered by LoopBack</a></p>
          <p><a target="_blank" href="http://us8.campaign-archive2.com/?u=fff96e3211df0eba0c4cbe647&id=914572788f">July 2016: Introducing API Connect to LoopBack Developers</a></p>
          <p><a target="_blank" href="http://us8.campaign-archive1.com/?u=fff96e3211df0eba0c4cbe647&id=24233561d0&e=[UNIQID]">June 2016: LoopBack 3.0 and other LoopBack info</a></p>
          <p><a target="_blank" href="http://us8.campaign-archive2.com/?u=fff96e3211df0eba0c4cbe647&id=75a2344bd7&e=ba9f76df5c">April 2016: Working with Geographical Data in your APIs, and more</a></p>
          <p><a target="_blank" href="http://eepurl.com/bVWpBf">March 2016: API Connect is here!</a></p>
          <p><a target="_blank" href="http://eepurl.com/bNqeqb">February 2016: Announcing API Connect - a unified API management solution</a></p>
          <p><a target="_blank" href="http://eepurl.com/bJ4Bxb">January 2016: Tips for Optimizing Slow Code in Node.js</a></p>
        </div>
      </div>
    </div>
' %}

{% include section.html color='x-lightgrey' content='
    <div class="c-grid">
      <div class="_col -col-4-5">
        <h3 class="c-heading -h3">2015</h3>
        <div class="nl-yr">
          <p><a target="_blank" href="http://eepurl.com/bJ4Bxb">December 2015: 2015 Wrap-Up</a></p>
          <p><a target="_blank" href="http://eepurl.com/bxDcSP">September 2015: StrongLoop Has Been Acquired by IBM - What&#8217;s Next for Enterprise Node.js</a></p>
          <p><a target="_blank" href="http://eepurl.com/bu_9sH">August 2015: Announcing StrongLoop&#8217;s Node.js API Gateway & Xamarin SDK</a></p>
          <p><a target="_blank" href="http://eepurl.com/bq_pQH">June 2015: Announcing Node.js Transaction Tracing Plus Training and Webinar Dates</a></p>
          <p><a target="_blank" href="http://eepurl.com/bi6RFH">April 2015: Announcing StrongLoop Node.js Process Manager with Docker, NGNIX and Cluster Support</a></p>
          <p><a target="_blank" href="http://eepurl.com/bdV9wH">January 2015: Announcing: Node.js Process Manager, v0.12, Foundation & GoDaddy Customer Win</a></p>
        </div>
      </div>
    </div>
' %}

{% include section.html content='
    <div class="c-grid">
      <div class="_col -col-4-5">
        <h3 class="c-heading -h3">2014</h3>
        <div class="nl-yr">
          <p><a target="_blank" href="http://eepurl.com/_hmLP">December 2014: Announcing StrongLoop Arc: Graphical UI for the Entire Node.js API Lifecycle</a></p>
          <p><a target="_blank" href="http://eepurl.com/7Hc_L">November 2014: Announcing Node.js API Gateway Plus New Technical Blogs and Videos</a></p>
          <p><a target="_blank" href="http://eepurl.com/4Mcyz">October 2014: Announcing Node.js Studio UI for DevOps and APIs plus Training Dates</a></p>
          <p><a target="_blank" href="http://eepurl.com/2L6Dj">September 2014: Welcome to early access of LoopBack Studio</a></p>
          <p><a target="_blank" href="http://eepurl.com/1Wx6n">August 2014: Make switch from Java, Rails, PHP and .NET to Node plus updates to Express & Zones</a></p>
          <p><a target="_blank" href="http://eepurl.com/ZXsSX">July 2014: New Node.js API Server, LoopBack 2.0 with Express 4.0 and Yeoman Support</a></p>
          <p><a target="_blank" href="http://eepurl.com/XVhF9">June 2014: Node.js Flow Control, Performance Tips & Social Login Support</a></p>
          <p><a target="_blank" href="http://eepurl.com/VNag9">May 2014: StrongLoop Newsletter: Node.js Offline Sync, RESTful API Frameworks & Performance Tips</a></p>
          <p><a target="_blank" href="http://eepurl.com/SFH7j">April 2014: Node DevOps, Koa, Zones & Heartbleed</a></p>
          <p><a target="_blank" href="http://marketing.strongloop.com/acton/attachment/5334/f-002d/1/-/-/-/-/StrongLoop%20Newsletter%20-%20Jan%202014.pdf">January 2014</a> (pdf)</p>
        </div>
      </div>
    </div>
' %}

{% include section.html color='x-lightgrey' content='
    <div class="c-grid">
      <div class="_col -col-4-5">
        <h3 class="c-heading -h3">2013</h3>
        <div class="nl-yr">
          <p><a target="_blank" href="./newsletter-archive/newsletter-december.pdf">December 2013</a> (pdf)</p>
          <p><a target="_blank" href="http://strongloop.com/wp-content/uploads/2013/11/Newsletter-November.pdf">November 2013</a> (pdf)</p>
          <p><a target="_blank" href="http://strongloop.com/wp-content/uploads/2013/11/october-newsletter.pdf">October 2013</a> (pdf)</p>
          <p><a target="_blank" href="http://strongloop.com/wp-content/uploads/2013/11/september-newsletter.pdf">September 2013</a> (pdf)</p>
        </div>
      </div>
    </div>
' %}
