---
title: Welcome to our StrongLoop Developer Newsletter!
layout: page
permalink: /newsletter/
redirect_from:
  - /newsletter
---
<section class="c-section x-white">
  <div class="c-container -padded">
    <div class="c-grid">
     <div class="_col -col-4-5">
        <p>The StrongLoop newsletter provides a month-end wrap-up of our blog content. It contains information on LoopBack, API Microgateway, the Open API Initiative, and API developer news and tutorials, as well as announcements and events. Check out back issues you may have missed in the archives below.</p>
        <p>NEW! <a href="https://strongloop.com/newsletter-archive/strongloop-newsletter-july-2019.pdf">July 2019: Learning LoopBack 4 Interceptors | LoopBack 4 Authentication 2.0 | Q2 Overview and June 2019 Milestone Update | More!</a></p>
      </div>
     </div>
  </div>
</section>

<section class="c-section x-green">
  <div class="c-container -padded-bottom">
    <div class="c-grid">
      <div class="_col -col-4-5">
        <h2 class="c-heading -h2">Newsletter Archives</h2>
      </div>
    </div>
  </div>
</section>

{% include section.html content='
    <div class="c-grid">
      <div class="_col -col-4-5">
        <h3 class="c-heading -h3">2019</h3>
          <div class="nl-yr">
            <p><a href="https://strongloop.com/newsletter-archive/strongloop-newsletter-july-2019.pdf">July 2019: Learning LoopBack 4 Interceptors | LoopBack 4 Authentication 2.0 | Q2 Overview and June 2019 Milestone Update | More!</a></p>
                        
            <p><a href="https://strongloop.com/newsletter-archive/strongloop-newsletter-june-2019.pdf">June 2019: Migrating from LoopBack 3 to LoopBack 4 | The Latest LoopBack 4 Milestone Update | More!</a></p>
            
             <p><a href="https://strongloop.com/newsletter-archive/strongloop-newsletter-may-2019.pdf">May 2019: Learn About Mashr and Puppeteer at the Next HackerJS Meetup | Building an Online Game With LoopBack 4 - Customizing APIs in Controller(Pt 3) | LoopBack 4 March 2019 Milestone Update | ASC, the API Specifications Conference | More!</a></p>
            
        <p><a href="https://strongloop.com/newsletter-archive/strongloop-newsletter-april-2019.pdf">April 2019: Building an Online Game With LoopBack 4 (Pt 1) | LoopBack 4 Q1 2019 Overview | LoopBack 4 March 2019 Milestone Update | More!</a></p>
       
        <p><a href="https://strongloop.com/newsletter-archive/strongloop-newsletter-march-2019.pdf">March 2019: A New Look for StrongLoop | The OpenJS Foundation | Experimenting with Plan JS programming in LB 4 | More!</a></p>
          
        </div>
      </div>
    </div>
' %}

{% include section.html color='x-lightgrey' content='
    <div class="c-grid">
      <div class="_col -col-4-5">
        <h3 class="c-heading -h3">2018</h3>
          <div class="nl-yr">
            
          
       
        <p><a href="http://strongloop.com/newsletter-archive/sl-newsletter-may-2018.pdf">May 2018: MobileMonday Meetup | Wordnik | More!</a></p>
             <p><a href="http://strongloop.com/newsletter-archive/sl-newsletter-april-2018.pdf">April 2018: LB 4 Milestones | @loopback/boot | More!</a></p>
             
            <p><a href="http://strongloop.com/newsletter-archive/sl-newsletter-march-2018.pdf">March 2018: LoopBack 4 JSON Schemas |Example Projects | More!</a></p>
            
            <p><a href="http://strongloop.com/newsletter-archive/sl-newsletter-feb-2018.pdf">February 2018: Generate Controllers With LoopBack 4 | IBM SDK for Node.js | More! </a></p>
          <p><a href="http://strongloop.com/newsletter-archive/sl-newsletter-jan-2018.pdf">January 2018: LoopBack 2017 Review | New LoopBack Logo | Node.js Support  </a></p>
        
        </div>
      </div>
    </div>
' %}

{% include section.html content='
    <div class="c-grid">
      <div class="_col -col-4-5">
        <h3 class="c-heading -h3">2017</h3>
        <div class="nl-yr">
                      
          <p><a href="http://strongloop.com/newsletter-archive/sl-newsletter-dec-2017.pdf">December 2017 - LoopBack 4 Developer Preview Release | Writing LoopBack 4 Extensions | And more!</a></p>
          <p><a href="http://strongloop.com/newsletter-archive/sl-newsletter-nov-2017.pdf">November 2017 - A Taste of the LoopBack Framework | OpenAPI 2.0 Spec for Slack Web API</a></p>
                     <p><a href="http://strongloop.com/newsletter-archive/sl-newsletter-oct-2017.pdf">October 2017 - Building a Vue.js Application with LoopBack | Join StrongLoop & IBM at APIStrat</a></p>
           <p><a href="http://strongloop.com/newsletter-archive/sl-newsletter-sep-2017.pdf">September 2017 - Deploy Your LoopBack API in 5 More Minutes | Join StrongLoop & IBM at Node Interactive</a></p>
                              <p><a href="http://strongloop.com/newsletter-archive/sl-newsletter-aug-2017.pdf">August 2017 - Generate a Client SDK For LoopBack with the Bluemix CLI | The OpenAPI Spec and You | And much more!</a></p>
                    <p><a href="http://strongloop.com/newsletter-archive/sl-newsletter-july-2017.pdf">July 2017 - LoopBack As An Event Publisher</a></p>
                    <p><a href="http://strongloop.com/newsletter-archive/sl-newsletter-june-2017.pdf">June 2017 - StrongLoop Evolves to Promote Open-Source Solutions for the API Developer Community</a></p>
          <p><a href="http://strongloop.com/newsletter-archive/sl-newsletter-may-2017.pdf">May 2017 - LoopBack.next - Making LoopBack Effortlessly Extensible </a></p>
          <p><a href="http://strongloop.com/newsletter-archive/sl-newsletter-apr-2017.pdf">April 2017 - Introducing API Microgateway</a></p>
          <p><a href="http://strongloop.com/newsletter-archive/sl-newsletter-feb-2017.pdf">February 2017 - LoopBack, Strong-soap and New Webinars</a></p>
          <p><a href="http://strongloop.com/newsletter-archive/sl-newsletter-jan-2017.pdf">January 2017 - Announcing the LoopBack CLI and LoopBack GA 3.0</a></p>
        </div>
      </div>
    </div>
' %}

{% include section.html color='x-lightgrey' content='
    <div class="c-grid">
      <div class="_col -col-4-5">
        <h3 class="c-heading -h3">2016</h3>
          <div class="nl-yr">
          <p><a href="http://strongloop.com/newsletter-archive/sl-newsletter-dec-2016.pdf">December 2016: Webinar - Build Simple Search APIs with LoopBack and ElasticSearch</a></p>
          <p><a href="http://strongloop.com/newsletter-archive/sl-newsletter-nov-2016.pdf">November 2016: Announcing LoopBack 3.0 Release Candidate</a></p>
          <p><a href="http://strongloop.com/newsletter-archive/sl-newsletter-oct-2016.pdf">October 2016: New Life for LoopBack Documentation</a></p>
          <p><a href="http://strongloop.com/newsletter-archive/sl-newsletter-sep-2016.pdf">September 2016: Coding Guidelines for LoopBack Are Here!</a></p>
          <p><a href="http://strongloop.com/newsletter-archive/sl-newsletter-aug-2016.pdf">August 2016: Building JavaScript Charts Powered by LoopBack</a></p>
          <p><a href="http://strongloop.com/newsletter-archive/sl-newsletter-jul-2016.pdf">July 2016: Introducing API Connect to LoopBack Developers</a></p>
          <p><a href="http://strongloop.com/newsletter-archive/sl-newsletter-jun-2016.pdf">June 2016: LoopBack 3.0 and other LoopBack info</a></p>
          <p><a href="http://strongloop.com/newsletter-archive/sl-newsletter-apr-2016.pdf">April 2016: Working with Geographical Data in your APIs, and more</a></p>
          <p><a href="http://strongloop.com/newsletter-archive/sl-newsletter-mar-2016.pdf">March 2016: API Connect is here!</a></p>
          <p><a href="http://strongloop.com/newsletter-archive/sl-newsletter-jan-2016.pdf">January 2016: Tips for Optimizing Slow Code in Node.js</a></p>
        </div>
      </div>
    </div>
' %}

{% include section.html content='
    <div class="c-grid">
      <div class="_col -col-4-5">
        <h3 class="c-heading -h3">2015</h3>
        <div class="nl-yr">
          <p><a href="http://strongloop.com/newsletter-archive/sl-newsletter-dec-2015.pdf">December 2015: 2015 Wrap-Up</a></p>
          <p><a href="http://strongloop.com/newsletter-archive/sl-newsletter-sept-2015.pdf">September 2015: StrongLoop Has Been Acquired by IBM - What&#8217;s Next for Enterprise Node.js</a></p>
          <p><a href="http://strongloop.com/newsletter-archive/sl-newsletter-aug-2015.pdf">August 2015: Announcing StrongLoop&#8217;s Node.js API Gateway & Xamarin SDK</a></p>
          <p><a href="http://strongloop.com/newsletter-archive/sl-newsletter-jun-2015.pdf">June 2015: Announcing Node.js Transaction Tracing Plus Training and Webinar Dates</a></p>        
          <p><a href="http://strongloop.com/newsletter-archive/sl-newsletter-apr-2015.pdf">April 2015: Announcing StrongLoop Node.js Process Manager with Docker, NGNIX and Cluster Support</a></p>        
          <p><a href="http://strongloop.com/newsletter-archive/sl-newsletter-jan-2015.pdf">January 2015: Announcing: Node.js Process Manager, v0.12, Foundation & GoDaddy Customer Win</a></p>         
        </div>
      </div>
    </div>
' %}

{% include section.html color='x-lightgrey' content='
    <div class=“c-grid”>
      <div class=“_col -col-4-5">
        <h3 class="c-heading -h3">2014</h3>
        <div class="nl-yr">
          <p><a href="http://strongloop.com/newsletter-archive/sl-newsletter-dec-2014.pdf">December 2014: Announcing StrongLoop Arc: Graphical UI for the Entire Node.js API Lifecycle</a></p>         
          <p><a href="http://strongloop.com/newsletter-archive/sl-newsletter-nov-2014.pdf">November 2014: Announcing Node.js API Gateway Plus New Technical Blogs and Videos</a></p>         
          <p><a href="http://strongloop.com/newsletter-archive/sl-newsletter-oct-2014.pdf">October 2014: Announcing Node.js Studio UI for DevOps and APIs plus Training Dates</a></p>         
          <p><a href="http://strongloop.com/newsletter-archive/sl-newsletter-aug-2014.pdf">August 2014: Make switch from Java, Rails, PHP and .NET to Node plus updates to Express & Zones</a></p>         
                                                                                        
         <p><a href="http://strongloop.com/newsletter-archive/sl-newsletter-jul-2014.pdf">July 2014: New Node.js API Server, LoopBack 2.0 with Express 4.0 and Yeoman Support</a></p>       
         <p><a href="http://strongloop.com/newsletter-archive/sl-newsletter-jun-2014.pdf">June 2014: Node.js Flow Control, Performance Tips & Social Login Support</a></p>                                                                                                  
         <p><a href="http://strongloop.com/newsletter-archive/sl-newsletter-may-2014.pdf">May 2014: StrongLoop Newsletter: Node.js Offline Sync, RESTful API Frameworks & Performance Tips
</a></p>                                                                                                       
         <p><a href="http://strongloop.com/newsletter-archive/sl-newsletter-apr-2014.pdf">April 2014: Node DevOps, Koa, Zones & Heartbleed</a></p>                                                                                                   
         <p><a href="http://strongloop.com/newsletter-archive/sl-newsletter-jan-2014.pdf">January 2014: What’s New in Node v0.12</a></p>       
           </div>
      </div>
    </div>
' %}
                                                                                       
 {% include section.html content='
    <div class="c-grid">
      <div class="_col -col-4-5">
        <h3 class="c-heading -h3">2013</h3>
        <div class="nl-yr">
          <p><a href="http://strongloop.com/newsletter-archive/newsletter-december.pdf">December 2013: npm install -g strong-cli</a> </p>
          <p><a href="http://strongloop.com/newsletter-archive/Newsletter-November.pdf">November 2013: Announcing LoopBack Android SDK</a> </p>
          <p><a href="http://strongloop.com/newsletter-archive/october-newsletter.pdf">October 2013: Heap Snapshots and Handling Node.js
Memory Leaks</a> </p>
          <p><a href="http://strongloop.com/newsletter-archive/september-newsletter.pdf">September 2013: Welcome to "In the Loop"</a></p>
        </div>
      </div>
    </div>
' %}
