---
title: Open-Source Projects
layout: page
permalink: /projects/
redirect_from: 
  - /getting-started/
  - /get-started/
  - /nodeapplication/
  - /nodeapi/
  - /apieconomy/
  - /nodedeveloper/
  - /nodeframework/
  - /enterprisenode/
  - /node-js/api-connect/
  - /node-js/upcoming-products/
  - /node-js/services-and-support/
  - /get-started-strongloop-arc/
  - /node-js/consulting/
  - /node-js/devops-tools/
  - /projects
---
{% include section.html content='
<div class="c-grid">
  <div class="_col -col-4-5">
    <p>These projects provide key technologies for the API economy:</p>
    <ul>
      <li><a href="#loopback">LoopBack</a> - Implement your REST API.</li>
      <li><a href="#mg">API Microgateway</a> - Protect, enrich, and control access to API services.</li>
      <li><a href="#openapi">Open API</a> - Open standard for defining and describing your API.</li>
    </ul>
  </div>
</div>
' %}

<section class="c-section x-lightgrey">
  {% include_relative projects/loopback.html %}
</section>

<section class="c-section x-white">
  {% include_relative projects/microgateway.html %}
</section>

<section class="c-section x-lightgrey">
  {% include_relative projects/openapi.html %}
</section>
