---
title: Open-Source Projects
layout: page
permalink: /projects/
redirect_from: 
  - /getting-started/
  - /get-started/
  - /nodeapplication/
  - /nodeapi/
  - /apieconomy/
  - /nodedeveloper/
  - /nodeframework/
  - /enterprisenode/
  - /node-js/api-connect/
  - /node-js/upcoming-products/
  - /node-js/services-and-support/
  - /get-started-strongloop-arc/
  - /node-js/consulting/
  - /node-js/devops-tools/
  - /projects
---
{% include section.html content='
<div class="c-grid">
  <div class="_col -col-4-5">
    <p>IBM builds and maintains these Open-source solutions for the API developer community:   
      </p>
    <ul>
      <li><a href="#loopback">LoopBack</a> - Implement your REST API.</li>
      <li><a href="#mg">API Microgateway</a> - Protect, enrich, and control access to API services.</li>  
      <li><a href="#oasgraph">OASGraph</a> - Written in TypeScript, OASGraph creates a fully functional GraphQL wrapper for existing REST(-like) APIs, described by an Open API Specification (OAS) or Swagger.</li>  </ul>
           
  <p>We also support these key technologies for API development:</p>
    <ul>    
       <li><a href="#nodejs">Node.js</a> - Node is for getting projects done quickly, to leverage the broad knowledge of JavaScript and to scale to the massive concurrency needed for mobile, IoT and next-generation web APIs.</li>
      <li><a href="#openapi">Open API</a> - Open standard for defining and describing your API.</li>
    </ul>
  </div>
</div>
' %}

<section class="c-section x-lightgrey">
  {% include_relative projects/loopback.html %}
</section>

<section class="c-section x-white">
  {% include_relative projects/microgateway.html %}
</section>

<section class="c-section x-lightgrey">
  {% include_relative projects/oasgraph.html %}
</section>

<section class="c-section x-white">
  {% include_relative projects/nodejs.html %}
</section>

<section class="c-section x-lightgrey">
  {% include_relative projects/openapi.html %}
</section>
