---
layout: default
---
<section class="c-section x-green">
  <div class="c-container -padded">
    <div class="c-grid">
      <div class="_col -col-1-1">
        <h1 class="c-heading -h3">{{ page.title }}</h1>
        {% if page.author %}<p class="author">by {{ page.author }}</p>{% endif %}

        <p class="post-meta"><time>{{ page.date | date: "%b %-d, %Y" }}</time>
          {% if page.categories != null %}/
            {% assign projectTags = site.data.tags.allowed-tags %}
            {% for tag in page.categories %}
              {% if projectTags contains tag %}
                <a href="{{site.url}}/{{ "tag_" | append: tag | append: ".html" | replace: " ", "-" }}">{{tag}}</a>{% unless forloop.last %}, {% endunless%}
              {% endif %}
            {% endfor %}
          {% endif %}
      </div>
    </div>
  </div>
</section>

    <section class="c-section x-lightgreen">
      <div class="c-container">
        <div class="c-grid">
          <div class="_col -col-1-1">
            <div class="post-content x-lightgreen">
              {% if post.excerpt %}
                <div class="summary">{{post.excerpt}}</div>
              {% endif %}

              {{ content }}
            </div>
          </div>
        </div>
      </div>
    </section>
<!--
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

</article>
-->
