---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

    <header class="post-header">
      <h1 class="c-heading -h3">{{ page.title }}</h1>
      <p class="post-meta"><time>{{ page.date | date: "%b %-d, %Y" }}</time>
        {% if page.author %}<span itemprop="author" itemscope itemtype="http://schema.org/Person">
          <span itemprop="name">/ {{ page.author }}</span>{% endif %}
        {% if page.categories != null %}/
            {% assign projectTags = site.data.tags.allowed-tags %}
            {% for tag in page.categories %}
              {% if projectTags contains tag %}
                <a href="{{site.url}}/{{ "tag_" | append: tag | append: ".html" | replace: " ", "-" }}">{{tag}}</a>{% unless forloop.last %}, {% endunless%}
              {% endif %}
            {% endfor %}
          {% endif %}

      </p>
    </header>

    <div class="post-content">

      {% if post.excerpt %}
        <div class="summary">{{post.excerpt}}</div>
      {% endif %}

      {{ content }}
    </div>
</article>
