---
layout: default
---
<section class="c-section x-green">
  <div class="c-container -padded">
    <div class="c-grid">
      <div class="_col -col-1-1">
        <h1 class="c-heading -h3">{{ page.title }}</h1>
        {% if page.author %}<p class="author">by
          {% for author in page.author %}
            <a class="no_icon" href="{{site.url}}/authors/{{ author | replace: " ", "_" | replace: ".", "_" }}">{{author}}</a>
            {% if forloop.last == false %},{% endif %}
          {% endfor %}
        </p>{% endif %}

        <p class="post-meta"><time>{{ page.date | date: "%b %-d, %Y" }}</time>
          {% if page.categories != null %}/
            {% assign projectTags = site.data.tags.allowed-tags %}
            {% for tag in page.categories %}
              {% if projectTags contains tag %}
                <a class="no_icon" href="{{site.url}}/strongblog/{{ "tag_" | append: tag | append: ".html" | replace: " ", "-" }}">{{tag}}</a>{% unless forloop.last %}, {% endunless%}
              {% endif %}
            {% endfor %}
          {% endif %}</p>
      </div>
    </div>
  </div>
</section>

    <section class="c-section x-white">
      <div class="c-container">
        <div class="c-grid">
          <div class="_col -col-1-1">
            <div class="post-content">
              {{ content }}
            </div>
          </div>
        </div>
      </div>
    </section>
